body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(300deg, rgb(11, 1, 51), rgb(45, 146, 146), rgb(7, 1, 53));
  color: #333;
  margin: 0;
  padding: 0;
  transition: background 0.3s, color 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 350px;
  width: 100%;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

.timer-circle {
  width: 200px;
  height: 200px;
  margin: 0 auto 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  width: 200px;
  height: 200px;
}

circle {
  fill: none;
  stroke-width: 15;
}

circle:first-child {
  stroke: #e6e6e6;
}

#progressCircle {
  stroke: #3498db;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
}

#time {
  position: relative;
  font-size: 2rem;
  z-index: 1;
}

.controls button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.controls button:hover {
  background-color: #2980b9;
}

.dark-mode {
  background: linear-gradient(135deg, #2d1b69 0%, #11052c 50%, #0f0c29 100%);
  color: #eee;
}


.dark-mode .card {
  background-color: #1f1f1f;
}

.dark-mode #progressCircle {
  stroke: #4da8da;
}

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
.notes-button-container {
  margin-top: 0px;
  text-align: center;
}

#makeNotesBtn {
  background-color: #0077cc;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 0px;
}

#makeNotesBtn:hover {
  background-color: #005fa3;
}
